<tr>
  <td>
    <%= link_to forum.name, forum, class: "forum-name" %>
    <%= forum.description %>

  </td>
  <td>
    <% if forum.latest_topic %>
      <span class="last-post-title"><%= link_to truncate(forum.latest_topic.title), forum_topic_path(forum, forum.latest_topic) %></span>
      <span class="last-post-author">by <%= link_to forum.latest_post.creator, root_path %></span>
      <div class="last-post-time"><%= time_ago_in_words forum.latest_post.created_at %> ago</div>
    <% else %>
      No Topics
    <% end %>
  </td>
  <td><%= forum.topics.count %></td>
  <% if can? :manage, Forum %>
    <td>
      <%= link_to 'Edit', edit_forum_path(forum), class: "btn" %>
      <%= link_to 'Destroy', forum, confirm: 'Are you sure?', method: :delete, class: "btn" %>
    </td>
  <% end %>
</tr>
