<% content_for :page_header, "Symposium" %>

<table class="forums">
  <tr class="table-header">
    <th>Forum</th>
    <th>Last Poster</th>
    <th>Topics</th>
    <% if can? :manage, Forum; %><th>Moderator</th><% end %>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td>
      <%= link_to forum.name, forum, class: "forum-name" %>
      <%= forum.description %>

    </td>
    <td>
      <span class="last-post-title"><%= link_to truncate(forum.latest_topic.title), forum_topic_path(forum, forum.latest_topic) %></span>
      <span class="last-post-author">by <%= link_to truncate(forum.latest_topic.latest_post.creator.username), root_path %></span>
      <div class="last-post-time"><%= time_ago_in_words forum.latest_topic.latest_post.created_at %> ago</div>
    </td>
    <td><%= forum.topics.count %></td>
    <% if can? :manage, Forum %>
    <td>
      <%= link_to 'Edit', edit_forum_path(forum), class: "btn" %>
      <%= link_to 'Destroy', forum, confirm: 'Are you sure?', method: :delete, class: "btn" %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Forum %>
  <%= link_to 'New Forum', new_forum_path, class: "btn primary" %>
<% end %>
