<table class="forums">
  <tr class="table-header">
    <th>Forum</th>
    <th>Last Poster</th>
    <th>Threads</th>
    <% if can? :manage, Forum; %><th>Moderator</th><% end %>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td>
      <%= link_to forum.name, forum, class: "forum-name" %>
      <%= forum.description %>

    </td>
    <td>
      <span class="last-post-title"><%= link_to "Some Thread", root_path %></span>
      <span class="last-post-author">by <%= link_to "Dude88", root_path %></span>
      <div class="last-post-time">7 minutes ago</div>
    </td>
    <td> 897 </td>
    <% if can? :manage, Forum %>
    <td>
      <%= link_to 'Edit', edit_forum_path(forum), class: "btn" %>
      <%= link_to 'Destroy', forum, confirm: 'Are you sure?', method: :delete, class: "btn" %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Forum %>
  <%= link_to 'New Forum', new_forum_path, class: "btn primary" %>
<% end %>
