- page_header "Login"

= debug params

= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| 
  .control-group
    = f.label :login, class: "control-label"
    .controls
      = f.text_field :login
  .control-group
    = f.label :password, class: "control-label"
    .controls
      = f.password_field :password

  - if devise_mapping.rememberable? 
    .control-group
      = f.label :remember_me, class: "control-label"
      .controls
        = f.check_box :remember_me 

  .form-actions
    = f.submit "Login", class: %w[btn btn-primary]

= render "links"
