<div class="row post">
  <div class="span3">

    <!-- User -->
    <div class="post-user">
      <div class="username">
        <%= post.creator.username %>
      </div>
      <div class="avatar">
        <%= image_tag "http://www.dentistry.co.uk/forum/forum_graphics/avatar_placeholder.gif" %>
      </div>
      <div class="join_date">
        <%= month_year post.creator.created_at %>
      </div>
      <div class="postcount">
        Posts: <%= post.creator.posts.count %>
      </div>
    </div>
  </div>
  <!-- /User -->

  <!-- Post -->
  <div class="span13">
    <div class="post-content">
      <div class="post-time">
        (id: <%= post.id %>)
        <%= (time_ago_in_words post.created_at).humanize %> ago 
      </div>
      <div class="post-body">
        <%= post.body %>
      </div>
      <div class="post-actions">
        <%= link_to "Edit", edit_topic_post_path(@topic, post), class: "btn small" %>
        <%= link_to "Delete", [@topic, post], method: :delete, confirm: "Are you sure?",  class: "btn small" %>
        <%= button_tag "Reply", class: "btn small" %>
      </div> 
    </div>
  </div>
  <!-- /Post -->

</div>
<% first_post = false %>
